<template>
  <div>
    <NuxtLayout>
      <div class="flex flex-col items-center">
        <h1>Oups</h1>
        <p>Une erreur est survenue ou la page que vous essayez de visiter n'existe pas !</p>
      </div>
    </NuxtLayout>
  </div>
</template>
