
<template>
  <div class="sub bg-2 -mx-5 px-5 py-2 my-2">
    <p class="text-center text-xl my-4">Super, il ne vous reste plus qu'à nous rapporter ses propos&nbsp;!</p>
    <form @submit.prevent="mailto">
      <label for="maire-nom" class="pr-4">Quel est le nom du ou de la maire de {{ commune.nom }}&nbsp;?</label>
      <input v-model="maireNom" type="text" id="maire-nom" size="50" class="mb-4" required/>
      <p class="pr-4">Le ou la maire est&nbsp;:</p>
      <div class="flex items-center justify-center mb-4">
        <input v-model="maireAvis" type="radio" class="hidden" id="favorable" name="avis" value="favorable"/>
        <label for="favorable">Favorable</label>
        <input v-model="maireAvis" type="radio" class="hidden" id="sans-avis" name="avis" value="sans avis"/>
        <label for="sans-avis">Sans&nbsp;avis</label>
        <input v-model="maireAvis" type="radio" class="hidden" id="defavorable" name="avis" value="défavorable"/>
        <label for="defavorable" >Défavorable</label>
      </div>
      <label for="maire-url" class="pr-4">Où peut-on retrouver ses propos&nbsp;?</label>
      <input v-model="maireSource" type="url" id="maire-url" size="50" placeholder="https://..." />
      <p class="mb-4"><small>Ça peut être, par exemple&nbsp;: un article de presse, un post facebook, un tweet, etc...</small></p>

      <div class="flex justify-center">
        <button
          type="submit"
          class="my-4 mx-auto"
        >
          Nous transmettre vos infos
        </button>
      </div>
    </form>
  </div>
</template>

<style lang="scss" scoped>
input[type="radio"][name="avis"]+label {
  padding: 0.5rem;
}
</style>

<script>
import { defineComponent } from '@vue/composition-api';
export default defineComponent({
  props: ['commune'],
  data() {
    return {
      maireAvis: null,
      maireNom: null,
      maireSource: null,
    }
  },
  methods: {
    mailto() {
      let mailto = "mailto:avis+retraites-2023@et-ton-maire.fr"
      mailto += "?subject=J'ai un avis à transmettre pour " + this.commune.nom + ' (Code insee ' + this.commune.inseeCode + ')'
      mailto+= "&body=" + encodeURI(`Bonjour,

${this.maireNom} le ou la maire de ${this.commune.nom} (Code insee ${this.commune.inseeCode}) est ${this.maireAvis}, ses propos sont visibles ici : ${this.maireSource}
`)

      window.location = mailto
    }
  }
})
</script>