
<template>
  <div class="sub bg-2 -mx-5 px-5 py-2 my-2">
    <p class="my-2">
      Votre maire n'a pas encore donné son avis ? Il est peut-être temps de lui demander !
    </p>

    <p>
      Comment ça marche ?
    </p>
    <ol class="my-4">
      <li>
        Envoyez un e-mail à votre maire pour lui demander de se positionner sur la réforme,<br/>
        <small>(Pour vous faciliter la tâche, nous vous proposons un modèle d'e-mail et nous avons déjà collecté" les e-mails des mairies)</small>
      </li>
      <li>
        Une fois la réponse reçue, transfèrez-là nous à l'adresse
        <a class="no-underline bg-slate-100 p-1" href="mailto:avis+retraites-2023@et-ton-maire.fr">avis+retraites-2023@et-ton-maire.fr</a>,
      </li>
      <li>
        On traite ensuite votre e-mail pour intégrer les infos qu'il contient à notre base,
      </li>
    </ol>
    <div class="flex flex-col items-center justify-center">
      <div class="autoheight-textarea min-w-full " :data-replicated-value="mailBody">
        <textarea v-model="mailBody" class="p-2">
        </textarea>
      </div>
      <button
        class="button my-4 mx-auto"
        @click="mailto"
      >
        Envoyer l'e-mail à votre mairie.
      </button>
    </div>
  </div>
</template>

<style scoped lang="scss">
  @import "../assets/css/variables";

  ol {
    // list-style-type: decimal;
    padding-left: 4rem;
    counter-reset: counter;
    li {
      counter-increment: counter;
      padding: 0.3rem 0;
      &::before {
        content: counter(counter);
        border: solid 2px $color-primary;
        width: 2rem;
        height: 2rem;
        border-radius: 50%;
        display: inline-block;
        line-height: 1.5rem;
        text-align: center;
        margin-right: 0.5rem;
        color: $color-primary;
      }
    }
  }
  .autoheight-textarea {
    display: grid;
    &:after {
      content: attr(data-replicated-value) " \n";
      white-space: pre-wrap;
      visibility: hidden;
      padding-bottom: 1rem;
    }
    textarea {
      resize: none;
      overflow: hidden;

    }
    &:after, textarea {
      grid-area: 1 / 1 / 2 / 2;
    }
  }
</style>

<script>
import { defineComponent } from '@vue/composition-api';
export default defineComponent({
  props: ['commune'],
  data() {
    return {
      mailBody: `Bonjour,

Dans le cadre de la campagne du site et-ton-maire.fr et en tant qu'habitant·e de ${this.commune.nom}, je souhaiterais connaître l'avis de la municipalité sur la future réforme des retraites.

Que pense notre maire de ce projet de loi ? Plutôt favorable ou défavorable ?

Merci d'avance pour votre réponse,
Bonne journée,`,
    }
  },
  methods: {
    mailto() {
      let mailto = "mailto:" + this.commune.contact
      mailto += "?subject=Quel est l'avis de notre maire sur le projet de loi retraites 2023 ?"
      mailto+= "&body=" + encodeURI(this.mailBody)

      window.location = mailto
    }
  },
})
</script>