
<template>
  <div class="no-avis">
    <p class="mt-12 text-6xl text-center smiley">
      :(
    </p>
    <p class="my-8 italic text-center">
      Notre base ne contient pas encore d'avis pour le ou la maire de
      {{ commune.nom }}.
    </p>

    <h3 class="mt-4 pl-0">Vous souhaitez nous aider à compléter nos données&nbsp;?</h3>
    <div class="bg-2 -mx-5 -my-2 px-5 pt-4">
      <p>Pour commencer, savez-vous si le ou la maire de {{ commune.nom }} a déjà donné son avis publiquement&nbsp;?</p>
      <div class="flex justify-center items-center">
        <input
          id="avis-public"
          type="radio"
          name="no-avis-options"
          class="hidden"
          @click="statutAvis='avis-existant'"
        >
        <label for="avis-public" class="p-4 text-center">
          <span class="emphase">Oui,</span>
          il ou elle a déjà donné son avis
        </label>
        <input
          id="no-avis-public"
          type="radio"
          name="no-avis-options"
          @click="statutAvis='avis-inexistant'"
          class="hidden"
        >
        <label for="no-avis-public" class="p-4 text-center">
          <span class="emphase">Non,</span>
          il ou elle n'a pas donné son avis à ma connaissance
        </label>
      </div>
    </div>

    <AvisExistant v-if="statutAvis=='avis-existant'" :commune="commune"></AvisExistant>
    <AvisInexistant v-else-if="statutAvis=='avis-inexistant'" :commune="commune"></AvisInexistant>

  </div>
</template>

<style lang="scss">
  @import "../assets/css/variables";

  .smiley {
    font-weight: bold;
    font-style: italic;
    color: $color-primary;
    text-shadow: 3px 3px 0px $color-primary-2;
  }
  .no-avis {
    input[type="radio"]+label, button {
      padding: 1rem;
      margin: 1rem;
      color: $color-primary;
      background-color: $color-secondary;
      border: 4px solid $color-primary-2;
      cursor: pointer;
      transition: border-color 0.1s;
      text-decoration: none;

      &:hover, &:focus, &:active {
        border-color: $color-primary;
      }

      .emphase {
        display: block;
        font-size: 1.5rem;
        font-weight: bold;
      }
    }
    input[type="radio"]:checked+label{
      border-color: $color-primary;
    }

    .sub {
      border-top: solid 2px $color-primary;
    }
  }
</style>

<script>
import { defineComponent } from '@vue/composition-api';
export default defineComponent({
  props: ['commune'],
  data() {
    return {
      statutAvis: null,
    }
  },
})
</script>