
<template>
  <div class="grid grid-cols-1 my-20">
    <label for="search" class="sr-only">Rechercher une commune</label>
    <input
      v-model="search"
      id="search"
      type="text"
      class="basis-full md:basis-2/3 text-xl w-full md:w-9/12 lg:w-1/2 mx-auto text-center"
      placeholder="Chercher une commune"
    />
    <ul class="my-4 mx-auto w-auto">
      <li v-if="isLoading">
        Recherche en cours...
      </li>
      <li v-else-if="search && results.length == 0">
        Nous n'avons pas trouvé de résultat pour votre recherche.
      </li>
      <li
        v-else
        v-for="(result, i) in results"
        :key="i"
      >
        <a :href="'/commune/' + result.properties.id">
          {{ result.properties.name }} ({{ result.properties.postcode }})
        </a>
      </li>
    </ul>
  </div>
</template>

<style scoped lang="scss">
@import "../assets/css/variables";

input {
  background: transparent;
  border-bottom: solid 3px $color-primary;
}
ul {
  padding-left: 1rem;
}
li {
  color: $color-primary;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
  &:hover, &:focus, &:active {
    text-decoration: underline 0.6rem $color-secondary;
    text-underline-offset: -0.3rem;
    text-decoration-skip-ink: none;
  }
}
</style>

<script>
import { defineComponent } from '@vue/composition-api';

export default defineComponent({
  data() {
    return {
      isLoading: false,
      search: null,
      searchDelay: 500,
      searchLastCalled: null,
      results: [],
    }
  },
  watch: {
    search() {
      if (this.search.length < 3) {
        return;
      }

      const now = new Date().getTime();

      if(this.searchLastCalled && ((now - this.searchLastCalled) < this.searchDelay)) {
        return;
      }
      this.searchLastCalled = now;

      this.isLoading = true;
      fetch(
        "https://api-adresse.data.gouv.fr/search/?" + new URLSearchParams({
          'q': this.search,
          'type': 'municipality'
        }),
        {
          method: "GET",
          headers: {
            "Content-Type": "application/json",
          },
          cache: 'no-cache',
        }
      )
      .then(response => response.json())
      .then(response => {
        this.results = response.features;
        this.isLoading = false;
      })
    }
  },
  method: {
    throttle(fn, delay) {
      let lastCalled = 0;
      return (...args) => {
        let now = new Date().getTime();
        if(now - lastCalled < delay) {
          return;
        }
        lastCalled = now;
        return fn(...args);
      }
    }
  }
})
</script>