<template>
  <div class="grid grid-cols-1 md:grid-cols-2">
    <div class="mb-4">
      <h3>Les derniers avis</h3>
      <ul>
        <li v-for="(avis, index) in lastAvis" :key="index">
          <NuxtLink :to="'/commune/' + avis.communeInseeCode">{{ avis.communeNom }}, {{ avis.maire }} : {{ libelleAvis(avis) }}</NuxtLink>
        </li>
      </ul>
    </div>
    <div class="mb-4">
      <h3>Quelques statistiques</h3>
      <div class="jauge">
        <div :style="{width: jaugeWidth + 'rem'}"></div>
      </div>
      <p>Nous avons récolté les avis de {{ nbAvis }} / {{ nbCommunes }} maires.</p>
      <ul>
        <li>{{ nbAvisFavorable }} sont favorables</li>
        <li>{{ nbAvisDefavorable }} sont défavorables</li>
        <li>{{ nbAvisSansAvis }} sont sans avis</li>
      </ul>
    </div>
  </div>
</template>

<style scoped lang="scss">
  @import "../assets/css/variables";

  .jauge {
    margin-top: 1rem;
    height: 2rem;
    width:20rem;
    border: solid 2px $color-primary;

    > div {
      height: 100%;
      min-width: 0.2rem;
      background: $color-primary-2;
    }
  }

  li a {
    text-decoration: none;
    &:hover, &:active {
      text-decoration: underline 0.6rem $color-secondary;
      text-underline-offset: -0.3rem;
      text-decoration-skip-ink: none;
    }
  }
</style>
<script lang="js">
import { defineComponent } from '@vue/composition-api';

export default defineComponent({
  data() {
    return {
      lastAvis: [],
      nbAvis: 0,
      nbAvisFavorable: 0,
      nbAvisDefavorable: 0,
      nbAvisSansAvis: 0,
      nbCommunes: 34968,
      avisOptions: {
        favorable: 'favorable',
        defavorable: 'défavorable',
        'sans-avis': 'sans avis',
      },
      // Locokit
      lckApi: null,
      lckTables: {
        COMMUNE: '74429dc0-c79b-49e3-a0fc-81c9d7821a64',
        CAMPAGNE_RETAITE: '8323a09c-3d92-401f-b6da-d5ea1c4a4480',
      },
    };
  },
  async mounted() {
    this.lckApi = await lckApi('27dfbfbe-aeeb-48e6-9c9a-42c03eeaa129');

    const lastAvis = await this.lckApi.query(
      this.lckTables.CAMPAGNE_RETAITE,
      {
        '$limit': 5,
        '$sort[ref(data:d69a598d-88bb-40d6-92e4-4e5b05f41dde)]': -1,
      }
    );

    if (lastAvis.length) {
      this.lastAvis = lastAvis;
    }

    this.nbAvis = await this.lckApi.count(this.lckTables.CAMPAGNE_RETAITE);

    this.nbAvisFavorable = await this.lckApi.count(
      this.lckTables.CAMPAGNE_RETAITE,
      {'$or[0][data][16bc6a9e-d9db-41c7-a61a-d27bd8bf95d5][$in][0]': 'f03a3376-199b-4c92-8b6e-8c3ee8e1dffc'}
    );
    this.nbAvisDefavorable = await this.lckApi.count(
      this.lckTables.CAMPAGNE_RETAITE,
      {'$or[0][data][16bc6a9e-d9db-41c7-a61a-d27bd8bf95d5][$in][0]': '1364d62b-ad3a-4c65-a609-9bb27482a039'}
    );
    this.nbAvisSansAvis = await this.lckApi.count(
      this.lckTables.CAMPAGNE_RETAITE,
      {'$or[0][data][16bc6a9e-d9db-41c7-a61a-d27bd8bf95d5][$in][0]': '33cc76d7-b470-40a5-9c4e-e3d6921f68c5'}
    );
  },
  methods: {
    libelleAvis(avis) {
      return this.avisOptions[avis.avis]
    }
  },
  computed: {
    jaugeWidth() {
      return this.nbAvis / this.nbCommunes * 20;
    },
  },
})
</script>
