<template>
  <div class="">
    <div v-if="isLoading" class="flex justify-center mt-5">
      <h1>Chargement...</h1>
    </div>
    <template v-else>
      <h1 >
        Quel est l'avis du maire de
        <span class="emphase">{{ commune.nom }} ({{ commune.departementCode }})</span>
        sur la réforme des retraites 2023&nbsp;?
      </h1>
      <Avis v-if="avis" :commune="commune" :avis="avis"/>
      <NoAvis v-else :commune="commune"/>
    </template>
  </div>
</template>

<script lang="js">
import { defineComponent } from '@vue/composition-api';

export default defineComponent({
  data() {
    return {
      isLoading: true,
      commune: null,
      avis: null,
      // Locokit
      lckApi: null,
      lckTables: {
        COMMUNE: '74429dc0-c79b-49e3-a0fc-81c9d7821a64',
        CAMPAGNE_RETAITE: '8323a09c-3d92-401f-b6da-d5ea1c4a4480',
      },
    };
  },
  async mounted() {
    this.lckApi = await lckApi('27dfbfbe-aeeb-48e6-9c9a-42c03eeaa129');

    const commune = await this.lckApi.query(
      this.lckTables.COMMUNE,
      { '$or[0][data][9fa952cc-9999-4a36-a9e3-7b43114ec19c][$eq]': this.$route.params.id }
    );

    if (commune.length) {
      this.commune = commune[0];
    } else {
      throw createError({ statusCode: response.status, statusMessage: 'Commune non trouvée' });
    }

    const avis = await this.lckApi.query(
      this.lckTables.CAMPAGNE_RETAITE,
      { '$or[0][data][58bb3340-4c54-4598-9609-a71678d73c66.value][$ilike]': this.$route.params.id + '%' }
    );

    if (avis.length) {
      this.avis = avis[0];
    }

    this.isLoading = false;
  },
})
</script>
