
@font-face {
  font-family: 'Binjay';
  font-style: normal;
  font-display: swap;
  src: url(../fonts/Binjay.ttf) format('truetype');
}

@font-face {
  font-family: 'Ubuntu Mono';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url(../fonts/UbuntuMono-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'Ubuntu Mono';
  font-weight: bold;
  font-display: swap;
  src: url(../fonts/UbuntuMono-Bold.ttf) format('truetype');
}

@font-face {
  font-family: 'Ubuntu Mono';
  font-style: italic;
  font-weight: normal;
  font-display: swap;
  src: url(../fonts/UbuntuMono-Italic.ttf) format('truetype');
}

@font-face {
  font-family: 'Ubuntu Mono';
  font-style: italic;
  font-weight: bold;
  font-display: swap;
  src: url(../fonts/UbuntuMono-BoldItalic.ttf) format('truetype');
}
