<template>
  <div class="app min-h-screen flex flex-col">
    <div class="grid grid-cols-1 md:grid-cols-3 lg:grid-cols-4 grow">
      <div class="flex flex-col items-center ">
        <Logo></Logo>
        <NuxtLink
          v-if="$router.currentRoute.value.path != '/'"
          to="/"
          class="retour "
        >
          ↩ Retour
        </NuxtLink>
      </div>
      <div class="md:col-span-2 lg:col-span-2 p-5">
        <slot />
      </div>
    </div>
    <footer>
      <ul class="flex flex-wrap justify-end items-center list-none">
        <li class="m-3">
          <NuxtLink to="/a-propos">
            À propos
          </NuxtLink>
        </li>
        <li class="m-3">
          <a href="https://piaille.fr/@et_ton_maire" target="_blank">
            Mastodon
          </a>
        </li>
        <li class="m-3">
          <a href="https://twitter.com/et_ton_maire" target="_blank">
            Twitter
          </a>
        </li>
        <li class="m-3">
          <a href="https://gitlab.com/et-ton-maire/et-ton-maire" target="_blank">
            Code source
          </a>
        </li>
        <li class="m-3">
          Développé avec <a href="https://locokit.io/">LocoKit</a>
        </li>
      </ul>
    </footer>
  </div>
</template>

<style lang="scss">
@import "../assets/css/variables";

body {
  background-color: $color-bg;
  font-family: $font-text;
  color: $color-text;
}

.bg-2 {
  background-color: $color-bg-2;
  color: $color-text;
}

h1 {
  font-size: 2.25rem; /* 36px */
  line-height: 2.5rem; /* 40px */
  font-style: italic;
  color: $color-primary;
  margin-bottom: 1rem;
  .emphase {
    font-weight: bold;
    text-decoration: underline 1.2rem $color-secondary;
    text-underline-offset: -0.6rem;
    text-decoration-skip-ink: none;
  }
}
h2 {
  font-size: 2rem;
  font-weight: bold;
  color: $color-primary;
}
h3, summary {
  font-size: 1.3rem;
  font-style: italic;
  color: $color-primary;
  text-decoration: underline 0.4rem $color-secondary;
  text-underline-offset: -0.2rem;
  text-decoration-skip-ink: none;
}
a {
  text-decoration: underline 0.6rem $color-secondary;
  text-underline-offset: -0.3rem;
  text-decoration-skip-ink: none;

  &.button {
    padding: 0.5rem;
    margin: 1rem;
    color: $color-primary;
    background-color: $color-secondary;
    border: 4px solid $color-primary-2;
    cursor: pointer;
    transition: border-color 0.1s;
    text-decoration: none;

    &:hover, &:focus, &:active {
      border-color: $color-primary;
    }

  }
}
ul {
  margin-top: 1rem;
  padding-left: 1.5rem;
  list-style: disc;
}
.retour {
  color: $color-primary;
  font-size: 1.4rem;
  font-weight: bold;
}
details[open] > div {
  background-color: $color-bg-2;
  padding: 2rem 1rem ;
  margin-top: -0.5rem;
}
summary {
  cursor: pointer;
}
.emphase {
  font-style: italic;
  color: $color-primary;
  text-decoration: underline 0.4rem $color-secondary;
  text-underline-offset: -0.2rem;
  text-decoration-skip-ink: none;
}
.avis {
  padding: 0.3rem;
  color: $color-bg;
  font-style: italic;
  font-weight: bold;
  font-size: 1.5rem;
  display: inline-block;
  transform: skew(0, -3deg);

  &.favorable {
    background: $color-favorable;
  }
  &.defavorable {
    background: $color-defavorable;
  }
  &.sans-avis {
    background: $color-sans-avis;
  }
}
</style>
