<template>
  <h1>
    <span class="emphase">Et ton maire ?!</span>&nbsp;: une plateforme d'initiative citoyenne pour impliquer les maires sur la réforme des retraites 2023
  </h1>
  <p>Ça ne vous aura pas échappé, Emmanuel Macron et le gouvernement tentent actuellement de réformer les retraites.</p>
  <p>Cette plateforme a pour but de mettre en lumière l'opinion des maires sur ce projet de loi.</p>

  <h2 class="my-4">Pourquoi&nbsp;?</h2>
  <details class="my-4">
    <summary>Premièrement parce que ça semble gêner Emmanuel Macron et le gouvernement</summary>
    <div>
      <p class="mb-2">
        Certains maires ayant ouvertement pris position contre la réforme ont reçu un courrier de leur préfet.
        Ce courrier (dont un exemple est visible ci-dessous) tente de faire pression sur ces maires pour les contraindre
        à une neutralité. Les préfets, rappelons-le, sont directement sous l'autorité du ministre de l'intérieur : ces
        lettres n'ont pas pu être envoyées sans que Gérald Darmanin ne soit mis au courant et ont donc été validées par
        le ministre.
      </p>
      <p class="font-bold text-center">
        Puisque ces prises de positions semblent déranger, encourageons-les !
      </p>
      <figure class="flex flex-col items-center my-4">
        <img
          src="/lettre.jpeg"
          alt="dans cette lettre, le préfet des Hauts-de-Seine
          demande au maire de Gennevilliers de respecter un principe de
          neutralité et lui demande de retirer une banderole contre la réforme
          des retraites présente sur la mairie."
        />
        <figcaption>
          Lettre reçue par Patrice Leclerc, maire de Gennevilliers
          (<a href="https://twitter.com/patrice_leclerc/status/1625447829664587776" target="_blank">source</a>)
        </figcaption>
      </figure>
    </div>
  </details>

  <details class="my-4">
    <summary>Deuxièmement parce qu'un maire, quoi qu'on en dise, a un impact sur la politique nationale</summary>
    <div>
      <p class="mb-2">
        Même si on peut considérer les maires comme des personnalités politiques locales, il ne faut pas oublier qu'ils et
        elles jouent également un rôle au niveau national : <span class="emphase">ce sont des grands électeurs</span>.
      </p>
      <p class="mb-2">
        95% des grands électeurs sont des conseillers municipaux et ce sont eux qui élisent les sénateurs et sénatrices.
        Les municiaplités sont donc en grande partie responsables de la composition du sénat. Ils ont donc une grande
        importance dans la représentation politique nationale.
      </p>
      <p class="mb-2">
        Et, <a href="https://youtu.be/TC81lYtpRRk?t=94" target="_blank">dans le cadre de l'article 47-1</a>, le rôle du sénat est primordial : il peut promulguer la loi
        sans faire la navette avec le parlement.
      </p>
    </div>
  </details>

  <h2 class="my-4">Dans quel but&nbsp;?</h2>
  <details class="my-4">
    <summary>Scénario 1&nbsp;: une majorité de maires sont défavorrables au projet de loi</summary>
    <div>
      <p class="mb-2">
        à venir
      </p>
    </div>
  </details>
  <details class="my-4">
    <summary>Scénario 2&nbsp;: une majorité de maires sont favorables au projet de loi</summary>
    <div>
      <p class="mb-2">
        à venir
      </p>
    </div>
  </details>
</template>
