<template>
  <h1>
    <span class="emphase">
      Au fait, c'est quoi l'avis de ton maire sur la réforme des retraites 2023&nbsp;?
    </span>
  </h1>
  <Recherche></Recherche>
  <StatistiqueHome></StatistiqueHome>
</template>
